<div class="homepage">
<style type="text/css">
@font-face {
	font-family: 'hakuyoxingshu7000Regular';
	src: url('fonts/7000.eot');
	src: local('hakuyoxingshu7000 Regular'), local('hakuyoxingshu7000'), url('fonts/7000.ttf') format('truetype'), url('fonts/7000.svg#hakuyoxingshu7000') format('svg');
}
#poem{
     font-family:hakuyoxingshu7000Regular;
     text-align:center;
}
#poem h3{font-size:60px;}
#poem p{height:80px;line-height:80px;font-size:45px;}
</style>
    <div id="poem">
    <br/><br/>
		<h3>云为素食</h3><br/>
		<p>京城有同窗，相约素食阁。</p>
        <p>听者犹未尽，言者语已多。</p>
        <p>满座皆友朋，畅谈何民科。</p>
        <p>禅中寄小语，慎言且柔和。</p>
	</div>
</div>